:root{
    /* PRIMARY */
    --DarkBlue: hsl(233, 26%, 24%);
    --LimeGreen: hsl(136, 65%, 51%);
    --BrightCyan: hsl(192, 70%, 51%);
    
    /* NEUTRAL */
    --GrayishBlue: hsl(233, 8%, 62%);
    --LightGrayishBlue: hsl(220, 16%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
}

body{
    font-family: Public Sans;
    font-size: 18px;
    margin:0;
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:1.8em .8em;
}

img{
    width:100%;
}

ul{
    margin:0;
    padding: 0;
    list-style: none;
}

/* ================================= TIPOGRAPHY =================================*/

h1,h2,h3{
    font-weight: lighter;
    text-align: center;
    margin:0;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size:2rem;
}

h3{
    font-size:1.5rem;
}

h4,h5{
    font-weight: lighter;
    text-align: left;
    margin:.3em 0;
}

h5{
    font-size: .8rem;
    color:var(--GrayishBlue)
}

p, a{
    color:var(--GrayishBlue);
    width:85%;
    font-size:.9rem;
    text-align: center;
}


/*================================= HEADER =================================*/
header{
    background-color: var(--VeryLightGray);
    position: relative;
    z-index: 10;
    margin:auto;
}
.header-container{
    position: relative;
    z-index: 10;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1em;
    margin:0;
    align-self: center;
    background-color: var(--VeryLightGray);
}   

.logo{
    width:45%;
    max-width: 150px;
    /* justify-self: flex-start; */
    margin:0;
}

.hamburguer{
    width:40px;
    margin-left: auto;
    justify-self: flex-end;
}

#mobile-menu{
    /* display: none; */
    position:absolute;
    /* border:1px solid red;*/
    left:5%;
    right: 5%;
    top:-1000%;
    margin:1em;
    margin-top: 2em;
    padding:1em 3em;
    background-color: var(--VeryLightGray); 
    border-radius: 5px;
    box-shadow: 1px 10px 37px -6px rgba(0,0,0,0.75);
    text-align: center;
    transition-property: top;
    transition-duration: 300ms;
}

#desktop-menu{
    display: none;
}

#mobile-menu li{
    margin-bottom: 1em;
}

#mobile-menu a{
    text-decoration: none;
    color:#000
}

#landing-button{
    display: none;
}

@media screen and (min-width: 1440px) {
    .header-container{
        width: 85%;
        margin:auto;
    }

    .hamburguer{
        display: none;
    }

    nav{
        width:35%;  
    }

    #mobile-menu{
        display: none;
    }

    #desktop-menu{
        display: flex;
        /* border: 1px solid red; */
        justify-content: space-around;
        align-items: center;
    }

    #landing-button{
        display: initial;
    }
}

/*================================= LANDING =================================*/

#landing{
    padding:0;
    position: relative;
    margin:-100px 0;
    z-index: 5;
    background-color: var(--VeryLightGray);
    margin-bottom: 2em;
}

.landing-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landing img{
    max-width: 650px;
    order: -1;
    position: relative;
    z-index: 5;
    background-image: url(../images/bg-intro-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
}

.request{
    margin-top:6px;
    color:var(--White);
    font-weight: bolder;
    border:transparent;
    cursor: pointer;
    border-radius:50px;
    font-size:1rem;
    padding:.7em 1.5em;
    background:linear-gradient(90deg, hsl(136deg 65% 51%), hsl(192deg 70% 51%));
}

@media  screen and (min-width:1440px) {
    #landing{
        flex-direction: row;
    }

    .landing-row h1, .landing-row p{
        text-align: left;
    }

    #landing img{
        order: initial;
        background-image: url(../images/bg-intro-desktop.svg);
        background-position: center;
        background-size: contain;
    }
    
}


/*================================= BENEFITS ==============================================*/
#benefits{
    background-color: var(--LightGrayishBlue);
}

#benefits h2{
    width:60%;
}

#benefits div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px red solid; */
    margin: 1em 0;
    height: 25%;
}

#benefits div img{
    width:20%;
    max-width: 80px;;
    order:-1;
}


/*================================= ARTICLES ==============================================*/

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border:1px blue solid; */
    margin:1em 0;
}

article img{
    max-width: 200px;
    order: -10;
    margin-bottom: 1em;
}

article div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:90%;
}

article h5{
    order:-5;
}

article p{
    margin:0;
    font-size: .8rem;
    text-align: left;
}


/*================================= FOOTER ==============================================*/
footer{
    padding:1em;
    background-color: var(--DarkBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer_logo{
    width:35%;
    margin:1em 0;
}

footer ul{
    margin:.6em 0;
}

#social{
    width: 55%;
    /* border:1px solid red;*/
    display: flex;
    justify-content: space-between;
}

#social i{
    font-size:1.3rem;
    color:white;
}

#footer_menu{
    text-align: center;
    /* border:1px solid red; */
}

#footer_menu li{
    margin-bottom: .7em;
}

#footer_menu a{
    color:var(--VeryLightGray);
    font-weight: lighter;
    text-decoration: none;
}